<!doctype html>
<html lang="en">
{% block head %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/styles.css"/>
{% endblock %}
<body>
{% block content %}{% endblock %}
</body>
</html>